VOICE_CLOUD_API_KEY=
NVIDIA_API_KEY=
NVIDIA_NIM_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_NIM_MODEL=
NVIDIA_TTS_MAGPIE_URL=
NVIDIA_TTS_MAGPIE_DEFAULT_VOICE=
NVIDIA_TTS_CHATTERBOX_URL=
NVIDIA_TTS_CHATTERBOX_DEFAULT_VOICE=
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
AZURE_TTS_FARSI_VOICE=fa-IR-DilaraNeural
